:root {
  --text: #292524;
  --bg: #fff;
  --border: #e5e4e7;
  font: 16px/145% system-ui, "Segoe UI", Roboto, sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e5e4e7;
    --bg: #16171d;
    --border: #2e303a;
  }
}

body {
  margin: 0;
}

table {
  border-color: var(--border);
}

th {
  border-bottom: 1px solid var(--border);
}

td {
  border-bottom: 1px solid var(--border);
}
